{% extends 'layout.html' %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div>
        <table class="table table-striped">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Operation</th>
                <th>Balance</th>
                <th>Date and Time</th>
            </tr>

            {% for row in info %}
                <tr>
                    <td>{{ row['item'] }}</td>
                    <td>{{ row['price'] }}</td>
                    <td>{{ row['operation'] }}</td>
                    <td>{{ row['balance'] }}</td>
                    <td>{{ row['date'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>



{% endblock %}